
<div class="wrapper">
    <div class="page-wrap">
        <div class="main-content">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h4 style="color:white;" class="m-b-10">Khám sức khỏe</h4>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-file-text"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#!">Khám sức khỏe bệnh nghề nghiệp</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="display: block;text-align: end;">
                                <button style="border-radius: 10px;" type="button" class="btn btn-primary"> <i class="feather icon-plus"></i> Thêm mới</button>
                            </div>
                            <div style="display: flex; padding-bottom: 2%;">
                                <div style="text-align:left;width:89%">
                                    <img style="width: 15%;" src="~/images/logoHP.png">
                                    <div style="text-align: center; width: 14%; font-size: 11px; padding-top:0.5%;">
                                        <b>
                                            CÔNG TY CỔ PHẦN THÉP<br />
                                            HÒA PHÁT DUNG QUẤT
                                        </b>
                                    </div>
                                </div>

                                <div>
                                    <div style="text-align:right;">
                                        <b>BM.05/QT.18.08</b>
                                    </div>
                                    <div style="text-align:right;">
                                        <b>Ngày hiệu lực: 15/04/2024</b>
                                    </div>

                                </div>

                            </div>
                            <div class="app-page-title" style="display: contents;">
                                <div class="page-title-wrapper" style=" display: contents;">
                                    <div class="page-title-heading" style="padding-bottom:1%;">
                                        <div style="text-align:center;">
                                            <h4>
                                                <b>
                                                    DANH SÁCH CBNV KHÁM BỆNH NGHỀ NGHIỆP
                                                </b>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="width:84vw;overflow-x:auto">
                                    <table class="table table-bordered table-hover" id="table" style="width:150vw;" cellpadding="0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width="30px" rowspan="2" style="vertical-align:middle">STT</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Vị trí lao động</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Mã nhân viên</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Họ và tên</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày sinh</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Vị trí làm việc</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Kíp</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày nhận việc</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Thời gian tiếp xúc</th>
                                                <th width="200px" colspan="6" class="text-center" style="vertical-align:middle">Chỉ tiêu quan trắc môi trường cần khám BNN</th>
                                                <th width="200px" colspan="6" class="text-center" style="vertical-align:middle">Nội dung khám phát hiện bệnh nghề nghiệp</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Ghi chú</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Thao tác</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">Bức xạ nhiệt</th>
                                                <th class="text-center">Tiếng ồn (dBA)</th>
                                                <th class="text-center">Rung toàn thân</th>
                                                <th class="text-center">Bụi than</th>
                                                <th class="text-center">Bụi toàn phần</th>
                                                <th class="text-center">...</th>

                                                <th class="text-center">X-quang tim phổi đứng</th>
                                                <th class="text-center">Đo chức năng hô hấp</th>
                                                <th class="text-center">X-quang cột sống thắt lưng thẳng-nghiêng</th>
                                                <th class="text-center">Đo thính lực</th>
                                                <th class="text-center">Đo nhãn áp</th>
                                                <th class="text-center">...</th>
                                            </tr>
                       @*                     <tr>
                                               
                                            </tr>*@
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">
                                                    <a href="index.html"><i class="feather icon-trash-2"></i></a>
                                                    <a href="index.html"><i class="feather icon-edit"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">
                                                    <a href="index.html"><i class="feather icon-trash-2"></i></a>
                                                    <a href="index.html"><i class="feather icon-edit"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

